.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input{
  touch-action: manipulation;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainContainer{
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContainer button{
  font-size: 13px;
  margin-top: 5px;
  background-color:#fff;
  border: 1px solid black;
  padding: 3px;
}
.mainContainer button:first-child{
  margin-right: 10px;
}

.joinContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
.joinContainer button{
  font-size: 13px;
  margin-top: 5px;
  background-color:#fff;
  border: 1px solid black;
  padding: 3px;
}
.joinContainer>div{
  padding-top : 20px;
}

.pwSuccess{
  color : blue;
  font-size : 10px;
}

.pwFail{
  color : red;
  font-size : 10px;
}

.chatRoom{
  height:500px;
  width:390px;
  margin: 0 auto;
  background-color: blanchedalmond;
  display:flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: flex-end;
}


.message {
  margin-bottom: 10px;
}

.right {
  margin-right: 10px;
  align-self: flex-end;
  background-color: ivory;
  padding : 6px;
  border-radius: 5px;
  border: 0.5px solid gray;
  font-weight: 600;
}

.left {
  margin-left: 10px;
  align-self: flex-start;
  background-color: ivory;
  padding : 6px;
  border-radius: 5px;
  border: 0.5px solid gray;
  font-weight: 600;
}

.sender {
  font-weight: bold;
  margin-right: 5px;
}
.sendArea{
  margin: 0 auto;
  width:390px;
  height:30px;
  display: flex;
  justify-content: space-between;
}
.sendArea #textInput{
  border-radius: 0;
  width : 350px;
  border: 1px solid black;
}

.sendArea button{
  font-size: 20px;
  font-weight: 900;
  background-color:#fff;
  border: 1px solid black;
  width:50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Nav{
  padding-left : 20px;
  color : #fff;
  background-color: black;
  display : flex;
  list-style: none;
  height:50px;
  align-items: center;
}
.Nav>li{
  cursor: pointer;
  padding-left : 20px;
}